h1  {
  color: red;
  text-align: center;
}
h2  {
  color: aqua;
  font-style: italic;
  text-align: center;
}
body  {
  background: url("images/ocean.jpg");
  color: lightgreen;
}
.check-in {
  float: right;
  width: 350px;
}
.services {
  float: right;
  width: 250px
}
